<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title><%= 'El Golazo Fútbol 5' %></title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body >
     <div class="main-content">
    <header class="container" style="margin-bottom: 10px;">
      <a href="/">
        <img src="../assets/el golazo.png" alt="El Golazo Futbol 5">
      </a>
    </header>
    <main class="container">
