<%- include('partials/header') %>

<div class="admin-panel-container">
  <h2>Bienvenida, <%= user.email %></h2>

  <div class="admin-actions">
    <a href="#" class="admin-btn">Ver reservas</a>
    <a href="/admin/turnos" class="admin-btn">Agregar o eliminar turnos</a>
    <a href="#" class="admin-btn">Reservar turno manualmente</a>
  </div>
</div>

<%- include('partials/footer') %>
