<%- include('partials/header') %>

<section class="home-section">
  <h1>Bienvenido a El Golazo Fútbol 5</h1>
  
  <!-- <p>Reservá tu turno de forma rápida y simple desde tu celular.</p> -->

  <a href="/calendario">
    Reservar Turno
  </a>
</section>

<%- include('partials/footer') %>
